---
const { i18n } = Astro.props;
---

<table class="table-auto w-full sm:w-3/4 border-separate border-spacing-2 text-sm sm:text-base my-5">
    <thead>
        <tr>
            <td colspan="4">
                <h3 class="bg-slate-200 font-bold text-xl text-center p-4">{i18n.TABLE_TITLE}</h3>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="bg-slate-200 font-bold text-center p-2">Green Fee:</th>
            <td colspan="1" class="bg-slate-100 text-center p-2"><strong>$ 310.00 USD</strong> {i18n.PER_PERSON}</td>
        </tr>
        <tr>
            <th scope="row" class="bg-slate-200 font-bold text-center p-2">Twilight fee:</th>
            <td colspan="1" class="bg-slate-100 text-center p-2">
                <strong>$ 190.00 USD</strong> {i18n.PER_PERSON}<br>
                <em class="text-xs">({i18n.AFTER} 2:30 pm)</em><br> 
                <em>({i18n.CAN_PLAY})</em>
            </td>
        </tr>
        <tr>
            <th scope="row" class="bg-slate-200 font-bold text-center p-2">Junior fee:</th>
            <td colspan="1" class="bg-slate-100 text-center p-2"><strong>$ 75.00 USD</strong> {i18n.PER_PERSON}<br><em class="text-xs">{i18n.AGE_JUNIOR}</em></td>
        </tr>
    </tbody>
</table>
<p class="text-sm text-red-600 italic my-3">{i18n.CONDITIONS}</p>