---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allImages";
import { getLangFromUrl } from "@/i18n/utils";
import { getAllTours } from "@/content/functions";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderBanner from "@components/global/SliderBanner";
import Intro from "@components/global/Intro.astro";
import TourCard from "@components/cards/TourCard.astro";
import Partners from "@components/global/Partners";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allTours = await getAllTours(lang);

const slides = getSlides("HOME", lang);

const seoMetaDatos = {
    title: i18n.SEO.TOUR_PAGE.ALL_TOURS.TITLE,
    description: i18n.SEO.TOUR_PAGE.ALL_TOURS.DESCRIPTION,
    keywords: i18n.SEO.TOUR_PAGE.ALL_TOURS.KEYWORDS,
};
---

<BaseLayout seo={seoMetaDatos}>
    <SliderBanner
        client:load
        slides={slides}
        i18nButton={i18n.TOUR_PAGE.CARD.BUTTON_BOOK_NOW}
    />

    <Intro
        title={i18n.TOUR_PAGE.ALL_TOURS.TITLE}
        description={i18n.TOUR_PAGE.ALL_TOURS.DESCRIPTION}
    />
    

    <section class="container mx-auto mb-10">
        <div class="flex flex-wrap justify-center">
            {allTours.map((tour) => <TourCard tour={tour} lang={lang} />)}
        </div>
    </section>
    
    <Partners
        client:visible
        title={i18n.PARTNERS.TITLE}
        description={i18n.PARTNERS.DESCRIPTION}
    />
</BaseLayout>
