---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allSlides";
import { getLangFromUrl } from "@/i18n/utils";
import { getAllCombos } from "@/content/functions";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderDesktop from "@/components/global/SliderDesktop";
import SliderMobile from "@/components/global/SliderMobile";
import TourCardHorizontal from "@components/cards/TourCardHorizontal.astro";
import Intro from "@components/global/Intro.astro";
import Partners from "@components/global/Partners";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allCombos = await getAllCombos(lang);

const slidesDesktop = getSlides("COMBOS", "DESKTOP", lang);
const slidesMobile = getSlides("COMBOS", "MOBILE", lang);

const seoMetaDatos = {
    title: i18n.SEO.COMBOS_PAGE.TITLE,
    description: i18n.SEO.COMBOS_PAGE.DESCRIPTION,
    keywords: i18n.SEO.COMBOS_PAGE.KEYWORDS,
    image: slidesDesktop[0].image.src,
};
---

<BaseLayout seo={seoMetaDatos}>
    <SliderDesktop client:visible slides={slidesDesktop} lang={lang} />
    <SliderMobile client:visible slides={slidesMobile} lang={lang} />

    <Intro
        title={i18n.COMBOS_PAGE.TITLE}
        description={i18n.COMBOS_PAGE.DESCRIPTION}
    />

    <section class="container mx-auto px-5 md:px-20 py-6">
        <div class="flex flex-wrap">
            {allCombos.map((combo) => <TourCardHorizontal tour={combo} lang={lang} />)}
        </div>
    </section>

    <Partners
        client:visible
        title={i18n.PARTNERS.TITLE}
        description={i18n.PARTNERS.DESCRIPTION}
    />
</BaseLayout>
