---
import { getI18N } from "@/i18n";
import { getLangFromUrl } from "@/i18n/utils";
import { getCollectionByName } from "@/content/functions";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allGolf = await getCollectionByName("golfs", lang);

import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@components/extras/Hero.astro";
import Intro from "@components/global/Intro.astro";
import GolfCard from "@components/cards/GolfCard.astro";

const seoMetaDatos = {
    title: i18n.SEO.GOLF_PAGE.TITLE,
    description: i18n.SEO.GOLF_PAGE.DESCRIPTION,
    keywords: i18n.SEO.GOLF_PAGE.KEYWORDS,
};
---

<BaseLayout seo={seoMetaDatos}>
    <Hero
        image="/assets/backgrounds/moon-palace-cancun-golf-course-par-tee-time.webp"
        title={i18n.GOLF_PAGE.TITLE_BANNER}
    />  

    <Intro
        title={i18n.GOLF_PAGE.TITLE}
        description={i18n.GOLF_PAGE.DESCRIPTION}
    />

    <section class="container mx-auto mb-10">
        <div class="flex flex-wrap justify-center">
            {allGolf.map((golf) => <GolfCard golf={golf} lang={lang} />)}
        </div>
    </section>
</BaseLayout>
