---
import { getI18N } from "@/i18n";
import { getLangFromUrl } from "@/i18n/utils";
import { getCollectionByName } from "@/content/functions";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allGolf = await getCollectionByName("golfs", lang);

import BaseLayout from "@/layouts/BaseLayout.astro";
import Intro from "@components/global/Intro.astro";
import GolfCardHorizontal from "@components/cards/GolfCardHorizontal.astro";

const seoMetaDatos = {
    title: i18n.SEO.GOLF_PAGE.TITLE,
    description: i18n.SEO.GOLF_PAGE.DESCRIPTION,
    keywords: i18n.SEO.GOLF_PAGE.KEYWORDS,
};
---

<BaseLayout seo={seoMetaDatos}>
    <Intro
        title={i18n.GOLF_PAGE.TITLE}
        description={i18n.GOLF_PAGE.DESCRIPTION}
    />

    <section class="container mx-auto px-5 md:px-20 py-6">
        <div class="flex flex-wrap">
            {allGolf.map((golf) => (
                <GolfCardHorizontal golf={golf} lang={lang} />
            ))}
        </div>
    </section>
</BaseLayout>
