---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allSlides";
import { getLangFromUrl } from "@/i18n/utils";
import { getCollectionByName } from "@/content/functions";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderDesktop from "@/components/global/SliderDesktop";
import SliderMobile from "@/components/global/SliderMobile";
import Intro from "@components/global/Intro.astro";
import RestaurantCardHorizontal from "@components/cards/RestaurantCardHorizontal.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allRestaurants = await getCollectionByName("restaurants", lang);

const slidesDesktop = getSlides("RESTAURANT", "DESKTOP", lang);
const slidesMobile = getSlides("RESTAURANT", "MOBILE", lang);

const seoMetaDatos = {
    title: i18n.SEO.RESTAURANT_PAGE.TITLE,
    description: i18n.SEO.RESTAURANT_PAGE.DESCRIPTION,
    keywords: i18n.SEO.RESTAURANT_PAGE.KEYWORDS,
    image: slidesDesktop[0].image.src,
};
---

<BaseLayout seo={seoMetaDatos}>
    <SliderDesktop client:visible slides={slidesDesktop} lang={lang} />
    <SliderMobile client:visible slides={slidesMobile} lang={lang} />

    <Intro
        title={i18n.RESTAURANT_PAGE.TITLE}
        description={i18n.RESTAURANT_PAGE.DESCRIPTION}
    />

    <section class="container mx-auto px-5 md:px-20 py-6">
        <div class="flex flex-wrap">
            {allRestaurants.map((rest) => (
                <RestaurantCardHorizontal restaurant={rest} lang={lang} />
            ))}
        </div>
    </section>
</BaseLayout>
