---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allImages";
import { getLangFromUrl } from "@/i18n/utils";
import { getCollectionByName } from "@/content/functions";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderBanner from "@components/global/SliderBanner";
import Intro from "@components/global/Intro.astro";
import RestaurantCard from "@components/cards/RestaurantCard.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allRestaurants = await getCollectionByName("restaurants", lang);

const slides = getSlides("RESTAURANT", lang);

const seoMetaDatos = {
    title: i18n.SEO.RESTAURANT_PAGE.TITLE,
    description: i18n.SEO.RESTAURANT_PAGE.DESCRIPTION,
    keywords: i18n.SEO.RESTAURANT_PAGE.KEYWORDS,
    image: slides[0].image.src,
};
---

<BaseLayout seo={seoMetaDatos}>
    <SliderBanner
        client:load
        slides={slides}
        i18nButton={i18n.TOUR_PAGE.CARD.BUTTON_BOOK_NOW}
    />

    <Intro
        title={i18n.RESTAURANT_PAGE.TITLE}
        description={i18n.RESTAURANT_PAGE.DESCRIPTION}
    />

    <section class="container mx-auto mb-10">
        <div class="flex flex-wrap justify-center">
            {
                allRestaurants.map((rest) => (
                    <RestaurantCard restaurant={rest} lang={lang} />
                ))
            }
        </div>
    </section>
</BaseLayout>
