---
import { getI18N } from "@/i18n";
import { Star, MapPin, Language, BusStop, InfoCircle, Check } from "@/img/allIcons";

import BaseLayout from "@/layouts/BaseLayout.astro";
import GalleryDesktop from "@components/detail-content/GalleryDesktop";
import GalleryMobile from "@components/detail-content/GalleryMobile";
import QuestionPolicy from "@components/detail-content/QuestionPolicy.astro";
import FormBokunDesktop from "@components/detail-content/FormBokunDesktop";
import FormBokunMobile from "@components/detail-content/FormBokunMobile";
import Accordion from "@components/detail-content/Accordion";
import TagH2 from "@components/global/TagH2.astro";
import TagH3 from "@components/global/TagH3.astro";
import TagP from "@components/global/TagP.astro";
import MenuLinks from "@components/detail-content/MenuLinks";

import cover from "@/img/galleries/transportation/hotel-pick-up-and-drop-off-transportation-in-cancun-hotel-zone-and-aiport.webp"

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const siteWebURL = new URL(Astro.url.pathname, Astro.site);
const images = import.meta.glob('@/img/galleries/transportation/*.webp', { eager: true });
const arrayImages = Object.values(images).map((img: { default: string }) => img.default);

const accessibility = {
    altImg: `${i18n.ACCESSIBILITY.ALT_IMG} ${i18n.TRANSPORTATION_PAGE.TITLE}`,
    ariaLabelGallery: i18n.ACCESSIBILITY.OPEN_GALLERY,
};

const menuLinks = [
    { id: "whatToExpect", title: i18n.DETAILS_CONTENT.MENU_LINKS.WHAT_TO_EXPECT },
    { id: "whatShouldYouKnow", title: i18n.DETAILS_CONTENT.MENU_LINKS.SHOULD_KNOW },
];

const dataForm = {
    i18n: i18n.DETAILS_CONTENT.FORM_RESERVATION,
    titleCard: i18n.TRANSPORTATION_PAGE.TITLE,
    reviews: i18n.TRANSPORTATION_PAGE.HIGHLIGHTS.REVIEWS,
    stars: 5.0,
    image: cover,
    location: i18n.TRANSPORTATION_PAGE.HIGHLIGHTS.LOCATION,
    urlCalendar: "https://widgets.bokun.io/online-sales/8b31caec-8877-411a-85ad-682828170619/experience-calendar/803736",
};

const seoMetaDatos = {
    title: i18n.SEO.TRANSPORTATION_PAGE.TITLE,
    description: i18n.SEO.TRANSPORTATION_PAGE.DESCRIPTION,
    keywords: i18n.SEO.TRANSPORTATION_PAGE.KEYWORDS,
    image: cover.src,
};

---

<BaseLayout seo={seoMetaDatos}>
    <section class="mx-auto px-5 md:px-20 py-10">
        <!-- Gallery -->
        <GalleryDesktop client:visible site={siteWebURL} i18n={i18n.DETAILS_CONTENT.GENERAL} images={arrayImages} accessibility={accessibility} />
    
        <GalleryMobile client:visible site={siteWebURL} i18n={i18n.DETAILS_CONTENT.GENERAL} images={arrayImages} accessibility={accessibility} />

        <div class="flex flex-wrap my-10">
            <!-- Content -->
            <div class="w-full xl:w-8/12 lg:pr-14">
                <!-- Menu Links -->
                <div class="mb-5">
                    <MenuLinks client:visible menuLinks={menuLinks} />
                </div>
                <!-- Header Title -->
                <header>
                    <h1 class="font-bold text-xl md:text-3xl w-full mt-5 mb-3">{i18n.TRANSPORTATION_PAGE.TITLE}</h1>
                    <ul class="flex flex-wrap gap-3 md:gap-5 w-full text-sm sm:text-lg">
                        <li class="flex items-center">
                            <Star class="text-amber-500 size-5 mr-1" />
                            <p class="font-bold"> 5.0
                                <span class="text-gray-500 font-thin"> ({i18n.TRANSPORTATION_PAGE.HIGHLIGHTS.REVIEWS})</span>
                            </p>
                        </li>
                        <li class="flex items-center">
                            <MapPin class="text-gray-600 size-5 mr-1" />
                            <p>{i18n.TRANSPORTATION_PAGE.HIGHLIGHTS.LOCATION}</p>
                        </li>
                    </ul>
                </header>
                <!-- Information General -->
                <div class="my-10">
                    <h2 class="font-bold text-lg sm:text-xl mb-5">{i18n.DETAILS_CONTENT.GENERAL.INFORMATION_GENERAL}</h2>
                    <ul class="columns-2 space-y-8 text-sm sm:text-base">
                        <li class="flex items-center">
                            <Language class="size-6 mr-1" stroke-width={1} />
                            <div class="flex flex-col justify-start">
                                <p class="font-bold">{i18n.DETAILS_CONTENT.GENERAL.OFFERED_IN}</p>
                                <p>{i18n.DETAILS_CONTENT.GENERAL.OFFERED_LANG}</p>
                            </div>
                        </li>
                        <li class="flex items-center">
                            <BusStop class="size-6 mr-1" stroke-width={1} />
                            <div class="flex flex-col justify-start">
                                <p class="font-bold">{i18n.DETAILS_CONTENT.GENERAL.TRANSPORTATION}</p>
                                <p>{i18n.TRANSPORTATION_PAGE.HIGHLIGHTS.PICKUP}</p>
                            </div>
                        </li>
    
                    </ul>
                </div>    
                
                <Accordion client:visible title={i18n.DETAILS_CONTENT.MENU_LINKS.WHAT_TO_EXPECT} idHash="whatToExpect">
                    <!-- Information -->
                    <div class="text-justify">
                        <TagH2>{i18n.TRANSPORTATION_PAGE.INFORMATION.TITLE}</TagH2>
                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_TULUM.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_TULUM.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_PLAYA_DEL_CARMEN.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_PLAYA_DEL_CARMEN.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_RIVERA_MAYA.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_RIVERA_MAYA.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_COBA.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_COBA.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_AKUMAL.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_AKUMAL.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.MOON_PALACE.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.MOON_PALACE.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.OCCIDENTAL_XCARET.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.OCCIDENTAL_XCARET.DESCRIPTION}</TagP>

                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_COSTA_MUJERES.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.CANCUN_TO_COSTA_MUJERES.DESCRIPTION}</TagP>
                        
                        <TagH3>{i18n.TRANSPORTATION_PAGE.INFORMATION.RIU_PALACE.TITLE}</TagH3>
                        <TagP>{i18n.TRANSPORTATION_PAGE.INFORMATION.RIU_PALACE.DESCRIPTION}</TagP>
                    </div>
                </Accordion>

                <Accordion client:visible title={i18n.DETAILS_CONTENT.MENU_LINKS.SHOULD_KNOW} idHash="whatShouldYouKnow">
                    <!-- Includes -->
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 md:px-5">
                            <h3 class="text-lg md:text-2xl font-bold mb-4 text-orange-600 mt-10">{i18n.TRANSPORTATION_PAGE.NOTES.TITLE}</h3>
                            <ul class="space-y-4 text-base md:text-lg">
                                {Object.values(i18n.TRANSPORTATION_PAGE.NOTES.LIST).map((item) =>(
                                    <li><Check class="size-6 mr-1 inline-block text-green-700" /> {item}</li>
                                ))}
                            </ul>
                        </div>
                        <div class="w-full md:w-1/2 md:px-5">
                            <h3 class="text-lg md:text-2xl font-bold mb-4 text-orange-600 mt-10">{i18n.TRANSPORTATION_PAGE.TRAVEL_TIME.TITLE}</h3>
                            <ul class="space-y-4 text-base md:text-lg">
                                {Object.values(i18n.TRANSPORTATION_PAGE.TRAVEL_TIME.LIST).map((item) => (
                                    <li><MapPin class="size-6 mr-1 inline-block text-green-700" /> {item}</li>
                                ))}
                            </ul>
                        </div>
                        <div class="w-full md:w-1/2 md:px-5">
                            <h3 class="text-lg md:text-2xl font-bold mb-4 text-orange-600 mt-10">{i18n.TRANSPORTATION_PAGE.CHARACTERISTICS.TITLE}</h3>
                            <ul class="space-y-4 text-base md:text-lg">
                                {Object.values(i18n.TRANSPORTATION_PAGE.CHARACTERISTICS.LIST).map((item) =>(
                                    <li><InfoCircle class="size-6 mr-1 inline-block text-green-700" /> {item}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                </Accordion>

                <QuestionPolicy i18n={i18n.DETAILS_CONTENT.QUESTION_POLICY} />
            </div>
            <!-- Form Sidebar -->
            <FormBokunDesktop client:visible data={dataForm} />
        </div>  
    </section>
    <!-- Form Mobile -->
    <FormBokunMobile client:visible data={dataForm} />
</BaseLayout>
