---
import { CalendarTime } from "@/img/allIcons";
import { truncateText} from "@/content/functions";

const { post } = Astro.props;
const { visibleText } = truncateText(post.uagb_excerpt, 100);
---

<div class="w-full sm:w-6/12 lg:w-4/12 xl:w-3/12 sm:p-2 md:p-4 lg:p-2.5 mb-5">
    <a href={`/cancun-news-blast/${post.slug}/`}>
        <div class="flex flex-wrap flex-col rounded-xl bg-white shadow-md border-slate-600 h-full">
            <!-- Image -->
            <div class="relative w-full">
                <img
                    width={post.yoast_head_json.og_image[1]}
                    height={post.yoast_head_json.og_image[2]}
                    src={post.uagb_featured_image_src.thumbnail[0]}
                    class="w-full h-full object-cover rounded-t-xl cursor-pointer duration-200 hover:scale-90"
                    alt=""
                />
            </div>
            <!-- Info -->
            <div class="py-6 px-5">
                <div class="flex flex-wrap items-center gap-3 mb-4 text-sm text-gray-500">
                    <div class="flex items-center font-semibold">
                        <CalendarTime class="size-5 text-green-700" /> {post.date}
                    </div>
                    <div class="flex items-center">{post.yoast_head_json.author}</div>
                </div>
                <h2 class="font-semibold text-base/relaxed sm:text-lg/relaxed mb-3 text-start text-gray-800">
                    {post.title.rendered}
                </h2>
            </div>
            <div class="mt-auto px-5 pb-5">
                <p class="text-sm sm:text-base">
                    {visibleText}...
                </p>
            </div>
        </div>
    </a>    
</div>
