---
import { getI18N } from "@/i18n";
import { Image } from "astro:assets";
import { truncateText} from "@/content/functions";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import { Check, Clock, Close, HeartFill, Language, Star } from "@/img/allIcons";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { top, index } = Astro.props;
const { visibleText, hiddenText } = truncateText(top.data.description, 172);
---

<div class="w-full sm:w-6/12 lg:w-4/12 px-5 py-1 sm:py-5">
    <article class="my-2 relative overflow-hidden rounded-xl shadow-md bg-white cardTravel">
        <div class="inline-block md:min-h-[470px]">
            <span style="clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);" class="absolute top-0 left-5 z-10 bg-red-700 text-white font-bold text-sm md:text-xl p-3 sm:p-4 rounded">
                #{index}
            </span>
            <div class="w-[64%] h-56 sm:h-64 pt-3 md:h-auto sm:w-full rounded-2xl sm:pt-4 px-4 float-left sm:float-none relative">
                <span class="absolute top-2 right-1.5 sm:right-3 bg-white text-gray-500 font-bold text-xs sm:text-sm rounded-xl w-fit pr-1 py-px">
                    <span class="bg-red-500 text-white rounded-full p-2">
                        <HeartFill class="size-5 inline-block" />
                    </span> {top.data.recommend}
                </span>
                {top.data.url ? (
                    <a href={translatePath(`${top.data.url}`)}>
                        <Image
                            class="w-full h-full object-cover rounded-2xl"
                            src={top.data.image.src}    
                            width="900"
                            height="600"
                            alt={top.data.image.alt}
                        />
                    </a>
                ) : (
                        <Image
                            class="w-full h-full object-cover rounded-2xl"
                            src={top.data.image.src}    
                            width="900"
                            height="600"
                            alt={top.data.image.alt}
                        />
                )}
            </div>
            <div class="text-black text-justify m-5">
                {top.data.url ? (
                    <h2 class="font-bold text-base md:text-xl"><a href={translatePath(`${top.data.url}`)}>{top.data.title}</a></h2>
                ):(
                    <h2 class="font-bold text-base md:text-xl break-words">{top.data.title}</h2>
                )}
                <p class="mt-3 text-base/relaxed w-full">
                    {visibleText}
                    {hiddenText && (
                        <>
                            <span id="readMore" class="text-orange-600 cursor-pointer font-bold">..{i18n.CARDS.SEE_MORE}</span>
                            <span id="moreText" style="display:none;">
                                {hiddenText}
                                <span id="readLess" class="text-orange-600 cursor-pointer font-bold">
                                    {i18n.CARDS.SEE_LESS}
                                </span>
                            </span>
                        </>
                    )}
                </p>
            </div>
        </div>
        <div class="my-5 mx-auto">
            <div class="w-full flex flex-wrap justify-evenly mb-5 lg:px-5 gap-y-3 mt-auto">
                {top.data.url && (
                    <a class="text-sm sm:text-base w-auto text-center bg-orange-600 hover:bg-orange-500 text-white font-bold p-3 sm:py-3 sm:px-4 rounded-lg focus:outline-none focus:shadow-outline" href={translatePath(`${top.data.url}`)}>{i18n.CARDS.BUTTON}</a>
                )}
                <button id="btnHighlights" class="group text-sm sm:text-base w-auto text-center bg-slate-200 hover:bg-slate-100 text-black font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline">
                    {i18n.CARDS.BUTTON_SEE_HIGHLIGHTS} <svg
                        id="iconHighlight"
                        class="w-6 h-6 inline-block text-slate-800 transition-all duration-200"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" 
                        />
                    </svg>
                </button>
            </div>
            <div id="collapseHighlights" class="w-full text-slate-800 text-sm sm:text-base p-3 hidden">
                <!-- General -->
                <div class="flex flex-wrap w-full gap-5 my-6 justify-center">
                    {top.data.price && (
                        <div class="text-slate-800">
                            $
                            <span>{i18n.CARDS.FROM} {top.data.price} USD</span>
                        </div>
                    )}
                    <div class="text-slate-800">
                        <Clock class="size-6 mr-1 inline-block" stroke-width={1} />
                        <span>{top.data.duration}</span>
                    </div>
                    <div class="text-slate-800">
                        <Language class="size-6 mr-1 inline-block" stroke-width={1} />
                        <span>{i18n.DETAILS_CONTENT.GENERAL.OFFERED_LANG}</span>
                    </div>
                </div>
                <!-- Highlights -->
                <h3 class="text-center font-bold mt-3">{i18n.CARDS.HIGHLIGHTS}</h3>
                <hr class="w-1/2 my-3 mx-auto border-t-0 bg-slate-200 h-0.5"/>
                <ul class="space-y-2 text-justify">
                    {top.data.highlights.map((item) => (
                        <li><strong><Star class="size-6 text-amber-500 inline-block" /> {item.title}</strong> {item.description}</li>
                    ))}
                </ul>
                <!-- Includes -->
                <h3 class="text-center font-bold mt-3">{i18n.CARDS.INCLUDES}</h3>
                <hr class="w-1/2 my-3 mx-auto border-t-0 bg-slate-200 h-0.5"/>
                <ul class="space-y-2 text-justify">
                    {top.data.includes.map((item) => (
                        <li><Check class="size-6 text-green-700 mr-1 inline-block" /> {item}</li>
                    ))}
                </ul>
                <!-- Not includes -->
                {top.data.notIncludes && (
                    <h3 class="text-center font-bold mt-3">{i18n.CARDS.NOT_INCLUDES}</h3>
                    <hr class="w-1/2 my-3 mx-auto border-t-0 bg-slate-200 h-0.5"/>
                    <ul class="space-y-2 text-justify">
                        {top.data.notIncludes.map((item) => (
                            <li><Close class="size-6 text-red-600 mr-1 inline-block" /> {item}</li>
                        ))}
                    </ul>
                )}
            </div>
        </div>
    </article>
</div>