---
import { Image } from "astro:assets";
import { getI18N } from "@/i18n";
import { useTranslatedPath } from "@/i18n/utils";
import { Star, Clock } from "@/img/allIcons";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { tour, lang } = Astro.props;
const translatePath = useTranslatedPath(lang);
const url = translatePath(`/tour/${tour.new_slug}/`);
---

<div class="snap-start shrink-0 w-3/4 sm:w-6/12 lg:w-4/12 xl:w-3/12 sm:p-2 md:p-4 lg:p-2.5 mb-5">
    <a aria-label={i18n.ACCESSIBILITY.GO_TO_CARD_DETAILS + tour.data.title} href={url}>
        <div class="flex flex-wrap flex-col rounded-xl bg-white shadow-md border-slate-600 h-full">
            <!-- Image -->
            <div class="relative w-full">
                <Image width="400" height="300" src={tour.data.image.src} class="w-full h-full object-cover rounded-t-xl cursor-pointer duration-200 lg:hover:scale-90" alt={tour.data.image.alt} />
                {tour.data.lastMinute && (
                    <span class="absolute z-10 top-0 left-0 p-2 rounded-tl-xl rounded-br-xl bg-gradient-to-r from-red-600 from-70% to-orange-500 text-white font-bold text-xs sm:text-sm shadow-md">
                        {i18n.CARDS.LAST_MINUTE}
                    </span>
                )}
                {tour.data.earlyBird && (
                    <span class="absolute z-10 top-0 left-0 p-2 rounded-tl-xl rounded-br-xl bg-gradient-to-r from-orange-500 from-70% to-amber-500 text-white font-bold text-xs sm:text-sm shadow-md">
                        {i18n.CARDS.EARLY_BIRD}
                    </span>
                )}
            </div>
            <!-- Score Star & Duration -->
            <div class="py-6 px-5">
                <h3 class="font-semibold text-base/tight sm:text-lg/tight mb-3 text-start text-gray-800">{tour.data.title}</h3>
                <div class="flex flex-wrap items-center gap-3 mb-4 text-sm sm:text-base">
                    <div class="flex items-center font-semibold">
                        <Star class="size-5 text-amber-500" /> {tour.data.stars} <span class="ml-2 text-gray-500 font-normal">({tour.data.reviews})</span>
                    </div>
                    <div class="flex items-center">
                        <Clock class="size-5 text-gray-500" stroke-width={1.5} /> {tour.data.duration}
                    </div>
                </div>
            </div>
            <!-- Price -->
            <div class="w-full flex flex-wrap px-5 mb-5 mt-auto">
                {(tour.data.lastMinute || tour.data.combo) && (
                    <p class="font-bold text-red-600 text-xs sm:text-sm line-through w-full">
                        <span>{i18n.CARDS.FROM}:</span>
                        ${(tour.data.price * 1.4).toFixed(0)} USD
                    </p>
                )}
                {(tour.data.earlyBird && !tour.data.notCustomEarlyBird) && (
                    <p class="w-full mb-2 sm:mb-4">
                        <span class="rounded bg-gradient-to-r from-orange-500 from-70% to-amber-500 text-white font-bold text-xs sm:text-sm p-1 sm:px-2 sm:py-1.5 shadow-md">
                            {i18n.CARDS.UP_TO_DISCOUNT}
                        </span>
                    </p>
                )}
                <p class="font-bold text-green-700 text-lg sm:text-xl"><span class="text-gray-800 text-sm">{i18n.CARDS.FROM}:</span> ${tour.data.price} USD <span class="text-gray-600 text-base font-normal">{i18n.CARDS.PER_PERSON}</span></p>
            </div>
        </div>
    </a>
</div>