---
import { getI18N } from "@/i18n";
import { useTranslatedPath } from "@/i18n/utils";
import { Image } from "astro:assets";
import { IconLastminute, IconEarlyBird } from "@/img/allImages";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { tour, lang } = Astro.props;
const translatePath = useTranslatedPath(lang);
const url = translatePath(`/tour/${tour.new_slug}/`);
---

<div class="w-full sm:w-6/12 lg:w-4/12 xl:w-3/12 px-5 py-1 sm:py-5">
    <div class="flex flex-wrap sm:flex-col rounded-lg bg-white shadow-lg border-slate-600 h-full">
        <h3 class="mt-7 px-3 sm:hidden block w-full font-extrabold text-lg text-start text-green-700">{tour.data.title}</h3>
        <div class="relative p-2.5 w-4/6 sm:w-full">
            <span class="absolute z-10 top-4 left-4 md:top-5 md:left-5 px-2.5 py-1 rounded-md text-sm bg-white font-bold shadow-lg">
                <i class="at-star text-sm text-amber-500"></i>{tour.data.stars}
            </span>
            <a aria-label={i18n.ACCESSIBILITY.GO_TO_TOUR_DETAILS} href={url}>
                <img width="400" height="300" loading="lazy" src={tour.data.image.src} class="w-full h-full object-cover rounded-md cursor-pointer duration-200 hover:scale-110" alt={tour.data.image.alt}>
            </a>
            {tour.data.lastMinute && (
                <span class="absolute z-10 top-3 right-3 sm:top-0 sm:-right-2">
                    <Image src={IconLastminute} alt="icon last minute" class="w-14 sm:w-20" />
                </span>
            )}
            {tour.data.earlyBird && (
                <span class="absolute z-10 top-3 right-3 sm:top-0 sm:-right-2">
                    <Image src={IconEarlyBird} alt="icon early birds" class="w-14 sm:w-20" />
                </span>
            )}
        </div>

        <div class="py-3 px-1.5 sm:px-5 sm:py-1 text-justify w-2/6 sm:w-full">
            <h3 class="hidden sm:block font-bold text-base sm:text-lg mb-4 text-center text-green-700">{tour.data.title}</h3>
            {tour.data.lastMinute && (
                <p class="block sm:hidden font-extrabold text-red-500 text-sm line-through">
                    ${(tour.data.price * 1.4).toFixed(0)} USD
                </p>
            )}
            {tour.data.combo && (
                <p class="block sm:hidden font-extrabold text-red-500 text-sm line-through">
                    ${(tour.data.price * 1.4).toFixed(0)} USD
                </p>
            )}
            <p class="block sm:hidden font-extrabold text-green-700 text-xl">
                <span class="text-gray-800 text-xs">{i18n.TOUR_PAGE.CARD.FROM}:</span><br> ${tour.data.price} USD
            </p>

            <ul class="flex flex-col gap-2 sm:px-5 my-4 text-xs sm:text-sm text-start">
                <li class="flex items-center gap-2 text-slate-600">
                    <i class="at-clock text-green-700"></i>{tour.data.duration}
                </li>
                <li class="flex items-center gap-2 text-slate-600">
                    <i class="at-messages-text text-green-700"></i>{tour.data.reviews}
                </li>
                {tour.data.highlights.map((item) => (
                <li class="hidden sm:flex items-center gap-2 text-slate-600">
                        <i class="at-info-circle text-green-700"></i> {item}
                    </li>
                ))}
                <li class="hidden sm:flex items-center gap-2 text-slate-600">
                    <i class="at-language-translation text-green-700"></i><b>{i18n.DETAILS_CONTENT.GENERAL.OFFERED_IN}:</b> {i18n.DETAILS_CONTENT.GENERAL.OFFERED_LANG}
                </li>
            </ul>
        </div>
        
        <div class="w-full flex flex-wrap justify-evenly mb-5 lg:px-5 gap-y-3 mt-auto">
            <div class="hidden sm:block w-full text-center my-2">
                {tour.data.lastMinute && (
                    <p class="font-bold text-red-600 text-xs sm:text-sm line-through mb-2">
                        <span>{i18n.TOUR_PAGE.CARD.FROM}:</span>
                        ${(tour.data.price * 1.4).toFixed(0)} USD
                    </p>
                )}
                {tour.data.combo && (
                    <p class="font-bold text-red-600 text-xs sm:text-sm line-through mb-2">
                        <span>{i18n.TOUR_PAGE.CARD.FROM}:</span>
                        ${(tour.data.price * 1.4).toFixed(0)} USD
                    </p>
                )}
                <p class="font-extrabold text-green-700 text-lg sm:text-xl"><span class="text-gray-800 text-sm">{i18n.TOUR_PAGE.CARD.FROM}:</span> ${tour.data.price} USD</p>
            </div>
            {tour.data.bokun != '' && <a aria-label="" href={tour.data.bokun} class="text-sm sm:text-base w-auto text-center bg-orange-600 hover:bg-orange-500 text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline" target="_blank">{i18n.TOUR_PAGE.CARD.BUTTON_BOOK_NOW}</a>}
            <a aria-label={i18n.ACCESSIBILITY.GO_TO_TOUR_DETAILS} href={url} class="text-sm sm:text-base w-auto text-center bg-slate-200 hover:bg-slate-100 text-black font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline">{i18n.TOUR_PAGE.CARD.BUTTON_MORE}</a>
        </div>
    </div>
</div>