---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allImages";
import { getLangFromUrl } from "@/i18n/utils";
import { getPartiesType } from "@/content/config";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderBanner from "@/components/global/SliderBanner";
import Intro from "@components/global/Intro.astro";
import Partners from "@/components/global/Partners";
import PartyCard from "@/components/cards/PartyCard.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allParties = await getPartiesType("BEACHCLUB", lang);

const slides = getSlides("BEACHCLUB", lang);

const seoMetaDatos = {
    title: i18n.SEO.PARTY_PAGE.BEACHCLUB.TITLE,
    description: i18n.SEO.PARTY_PAGE.BEACHCLUB.DESCRIPTION,
    keywords: i18n.SEO.PARTY_PAGE.BEACHCLUB.KEYWORDS,
};
---

<BaseLayout seo={seoMetaDatos}>
    
    <SliderBanner
        client:load
        slides={slides}
        i18nButton={i18n.TOUR_PAGE.CARD.BUTTON_BOOK_NOW}
    />

    <Intro
        title={i18n.PARTY_PAGE.BEACHCLUB.TITLE}
        description={i18n.PARTY_PAGE.BEACHCLUB.DESCRIPTION}
    />

    <section class="container mx-auto mb-10">
        <div class="flex flex-wrap justify-center">
            {allParties.map((party) => <PartyCard party={party} lang={lang} />)}
        </div>
    </section>

    <Partners client:visible title={i18n.PARTNERS.TITLE} description={i18n.PARTNERS.DESCRIPTION} />
</BaseLayout>
