---
import { getI18N } from "@/i18n";
import { getSlides } from "@/img/allSlides";
import { getLangFromUrl } from "@/i18n/utils";
import { getPartiesType } from "@/content/functions";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SliderDesktop from "@/components/global/SliderDesktop";
import SliderMobile from "@/components/global/SliderMobile";
import Intro from "@components/global/Intro.astro";
import Partners from "@components/global/Partners";
import PartyCardHorizontal from "@components/cards/PartyCardHorizontal.astro";
import Events from "@components/extras/Events";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const allParties = await getPartiesType("NIGHTCLUB", lang);

const slidesDesktop = getSlides("NIGHTCLUB", "DESKTOP", lang);
const slidesMobile = getSlides("NIGHTCLUB", "MOBILE", lang);

const seoMetaDatos = {
    title: i18n.SEO.PARTY_PAGE.NIGHTCLUB.TITLE,
    description: i18n.SEO.PARTY_PAGE.NIGHTCLUB.DESCRIPTION,
    keywords: i18n.SEO.PARTY_PAGE.NIGHTCLUB.KEYWORDS,
    image: slidesDesktop[0].image.src,
};
---

<BaseLayout seo={seoMetaDatos}>
    <SliderDesktop client:load slides={slidesDesktop} lang={lang} />
    <SliderMobile client:load slides={slidesMobile} lang={lang} />

    <Intro
        title={i18n.PARTY_PAGE.NIGHTCLUB.TITLE}
        description={i18n.PARTY_PAGE.NIGHTCLUB.DESCRIPTION}
    />

    <Events client:visible lang={lang} />

    <section class="container mx-auto px-5 md:px-20 py-6">
        <div class="flex flex-wrap">
            {
                allParties.map((party) => (
                    <PartyCardHorizontal party={party} lang={lang} />
                ))
            }
        </div>
    </section>

    <Partners
        client:visible
        title={i18n.PARTNERS.TITLE}
        description={i18n.PARTNERS.DESCRIPTION}
    />
</BaseLayout>
