---
const { i18n } = Astro.props;
---

<section class="flex flex-wrap w-full gap-y-7">
    <div class="w-full sm:w-1/2 sm:px-5">
        <div class="shadow-md border border-slate-200 rounded-lg py-4 px-8 h-full flex justify-center flex-col">
            <h4 class="text-lg font-bold mb-4 text-green-700">{i18n.CANCELLATION_POLICY.TITLE}</h4>
            <p class="text-base mb-2">{i18n.CANCELLATION_POLICY.DESCRIPTION}</p>
        </div>
    </div>
    <div class="w-full sm:w-1/2 sm:px-5">
        <div class="shadow-md border border-slate-200 rounded-lg py-4 px-8 h-full flex justify-center flex-col">
            <h4 class="text-lg font-bold mb-4 text-green-700">{i18n.QUESTIONS.TITLE}</h4>
            <p class="text-base mb-2">{i18n.QUESTIONS.DESCRIPTION}</p>
            <a href="tel:+529983000040" class="block w-fit bg-green-800 hover:bg-green-700 text-white font-bold py-3 px-8 rounded-lg focus:outline-none focus:shadow-outline transition">{i18n.QUESTIONS.BUTTON}</a>
        </div>
    </div>
</section>
