---
import "@/styles/main.css";
import "@/styles/fonts.css";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const namePage = "What To Do in Cancun";
const title = Astro.props.title || i18n.SEO.HOME_PAGE.TITLE;
const description = Astro.props.description || "";
const keywords = Astro.props.keywords || "";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = new URL(Astro.props.image || "/assets/logos/favicon.webp", Astro.site);
const ogType = Astro.props.ogType || "website";

const ogLocale = currentLocale === "es" ? "es_ES" : "en_US";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="author" content={namePage}>

<!-- Favicon -->
<link href="/assets/logos/favicon.webp" rel="icon">
<link href="/assets/logos/favicon.webp" rel="apple-touch-icon">
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonicalURL} />
<meta property="og:locale" content={ogLocale} />
<!-- Generator Astro -->
<meta name="generator" content={Astro.generator} />
<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={namePage} />
<meta property="og:image" content={image} />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="preload" href="/fonts/Nunito-Light.ttf" as="font" type="font/ttf" crossorigin/>
<link rel="preload" href="/fonts/Nunito-SemiBold.ttf" as="font" type="font/ttf" crossorigin/>
<link rel="preload" href="/fonts/Nunito-Bold.ttf" as="font" type="font/ttf" crossorigin/>

<!-- Google Tag Manager -->
<script type="text/partytown">
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-53MTXR3');
</script>
<!-- End Google Tag Manager -->

<!--- TAG PARA CONTROL DE DATOS DE WHATTODOINCANCUN -->
<!-- Google tag (gtag.js) -->
<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6468V1YW1P"></script>

<script type="text/partytown">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-6468V1YW1P');
</script>

<script type="text/partytown">
    (function(c, l, a, r, i, t, y) {
        c[a] = c[a] || function() {
        (c[a].q = c[a].q || []).push(arguments)
        };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i + "?ref=wordpress";
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "g1vahqvqwt");
</script>

<!-- Meta Pixel Code -->
<script type="text/partytown">
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
        n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
    t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '423301456201213');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=423301456201213&ev=PageView&noscript=1" /></noscript>
<!-- End Meta Pixel Code -->