---
import { getI18N } from "@/i18n";
import {getLangFromUrl, useTranslations, useTranslatedPath} from "@/i18n/utils";
import Image from "astro/components/Image.astro";
import {LogoHorizontalPublic, CustomerSuport} from "@/img/allImages";
import { Facebook, Instagram, Tiktok, Youtube, SecureCheckout } from "@/img/allIcons";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="bg-[url('/assets/backgrounds/background-testimonials-opinion-and-reviews.webp')] bg-repeat-x bg-right-top bg-cover mt-1 border-t border-gray-300">
    <div class="container mx-auto py-10 px-5">
        <div class="flex flex-wrap">
            <!-- Logo & Social Media -->
            <div class="w-full lg:w-3/12">
                <a href={translatePath('/')} class="block mx-auto w-fit">
                    <Image 
                        src={LogoHorizontalPublic} 
                        alt={i18n.ACCESSIBILITY.LOGO}
                        class="w-auto md:w-96 lg:w-auto mb-10" 
                        widths={[240, 500, 720, LogoHorizontalPublic.width]} 
                        sizes={`(max-width: 360px) 240px, (max-width: 720px) 500px, (max-width: 1600px) 720px, ${LogoHorizontalPublic.width}px`}
                    />
                </a>
                <div class="flex flex-wrap justify-center items-center gap-5 xl:gap-x-10 my-5 md:mt-10">
                    <a class="bg-green-700 rounded-full p-2 lg:p-2.5 text-white hover:bg-green-600" aria-label={i18n.ACCESSIBILITY.GO_TO_FACEBOOK} href="https://www.facebook.com/WhatToDoInCancun" target="_blank">
                        <Facebook class="size-6" />
                    </a>
                    <a class="bg-green-700 rounded-full p-2 lg:p-2.5 text-white hover:bg-green-600" aria-label={i18n.ACCESSIBILITY.GO_TO_INSTAGRAM} href="https://www.instagram.com/whattodoincancun/" target="_blank">
                        <Instagram class="size-6" />
                    </a>
                    <a class="bg-green-700 rounded-full p-2 lg:p-2.5 text-white hover:bg-green-600" aria-label={i18n.ACCESSIBILITY.GO_TO_YOUTUBE} href="https://www.youtube.com/channel/UCLTY6DJGNheDKop1Nj3pOSg/videos" target="_blank">
                        <Youtube class="size-6" />
                    </a>
                    <a class="bg-green-700 rounded-full p-2 lg:p-2.5 text-white hover:bg-green-600" aria-label={i18n.ACCESSIBILITY.GO_TO_TIKTOK} href="https://www.tiktok.com/@whattodoincancun.com" target="_blank">
                        <Tiktok class="size-6" />
                    </a>
                </div>
            </div>
            <!-- Menu Nav -->
            <div class="w-1/2 md:w-1/3 lg:w-3/12">
                <div class="mt-5 w-fit mx-auto space-y-4 text-start">
                    <p class="font-bold text-gray-900 uppercase text-base sm:text-xl mb-5">{t("footer.company")}</p>
                    <p class="text-gray-900 text-sm md:text-base">
                        <a class="group hover:text-green-700" href={translatePath('/about-us/')}>{t("nav.aboutUs")} </a>
                    </p>
                    <p class="text-gray-900 text-sm md:text-base">
                        <a class="group hover:text-green-700" href="https://whattodoinmexicocity.com/" target="_blank">What To Do In México City </a>
                    </p>
                    <p class="text-gray-900 text-sm md:text-base">
                        <a class="group hover:text-green-700" href="https://thingstodoinmadrid.com/" target="_blank">Things To Do In Madrid </a>
                    </p>
                </div>
            </div>
            <!-- Policy -->
            <div class="w-1/2 md:w-1/3 lg:w-2/12">
                <div class="mt-5 w-fit mx-auto space-y-4 text-start">
                    <p class="font-bold text-gray-900 uppercase text-base sm:text-xl mb-5">{t("footer.policy")}</p>
                    <p class="text-gray-900 text-sm md:text-base">
                        <a class="group hover:text-green-700" href={translatePath('/terms-conditions/')}>{t("nav.terms")} </a>
                    </p>
                    <p class="text-gray-900 text-sm md:text-base">
                        <a class="group hover:text-green-700" href={translatePath('/legal-pages/')}>{t("nav.privacy")} </a>
                    </p>
                </div>
            </div>
            <!-- Images Info Customer -->
            <div class="w-full md:w-1/3 lg:w-4/12">
                <div class="flex flex-wrap items-center mt-10 sm:mt-0">
                    <div class="w-1/2 pr-3">
                        <Image 
                            src={CustomerSuport} 
                            alt={i18n.ACCESSIBILITY.IMG.CUSTOMER_SUPPORT} 
                            class="mx-auto w-36 md:w-44" 
                            widths={[240, 500, 720, CustomerSuport.width]} 
                            sizes={`(max-width: 360px) 240px, (max-width: 720px) 500px, (max-width: 1600px) 720px, ${CustomerSuport.width}px`}
                        />
                        <p class="font-bold text-green-700 text-base md:text-xl mt-5 text-center">{t("footer.daysOperation")}</p>
                    </div>
                    <div class="w-1/2">
                        <Image 
                            src={SecureCheckout} 
                            alt={i18n.ACCESSIBILITY.IMG.SECURE_CHECKOUT}
                            class="mx-auto w-36 md:w-44 pl-5" 
                            widths={[240, 500, 720, SecureCheckout.width]} 
                            sizes={`(max-width: 360px) 240px, (max-width: 720px) 500px, (max-width: 1600px) 720px, ${SecureCheckout.width}px`}
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full bg-green-800 text-white py-6 px-5 text-center md:flex md:justify-around items-center">
        <p class="text-sm">&copy; {t("footer.copyrigth")}</p>
        <p class="font-bold text-sm mt-2">{t("footer.design")}</p>
    </div>
</footer>

